body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #FF1493, #DB7093);
    background: linear-gradient(to right, #ee4b9d, #FFC0CB);
    min-height: 50vh;
}
.flex-container {
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 15px;
    background: #5b5b5b;
    padding: 20px;
    width: 50px;
    height: 20px;
    justify-content: flex-start;
}
h2 {
    color: black;
}
footer {
    color: black;
    display: flex;
    gap: 30px;
    row-gap: 10px;
    column-gap: 20px;
    grid-gap: 1rem;
}

