body {
    background: #4c4a4a;
    background: -webkit-linear-gradient(to right, #2c2a2b, #474244);
    background: linear-gradient(to right, #857f82, #e0d7d8);
    min-height: 50vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0%;
    background: #e5097f;
}

.container span {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.container li:hover{
    background: #fc0086;
}

.container li{
    text-align: center;
    padding: 10px;

}

.container li:last-of-type a {
    border-bottom: none;
}